/* 온다파츠 css */
.header-logo .onda-logo img {
  display: block;
  max-width: 50%;
}

.estimate_td {
  background-color: #21618c;
  color: #fff !important;
}

#quotation_reply_grid {
  position: relative;
}

.quotation_reply_btns,
.quotation_conditions_btns,
.order_btns {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 20px 0;
}

.quotation_reply_btns div button,
.quotation_conditions_btns div button,
.order_btns div button {
  background-color: #5499c7;
  color: #fff;
  font-size: 13.5px;
  border-radius: 0;
  flex: 1;
}
.quotation_reply_btns div button:hover,
.quotation_conditions_btns div button:hover,
.order_btns div button:hover {
  background-color: #2e4053;
}

.quotation_reply_btns .quotation_reply_btns_left {
  width: fit-content;
  flex: 9;
}

.quotation_reply_btns .quotation_reply_btns_left button:last-child {
  margin-left: 10px;
}

.quotation_reply_btns .quotation_reply_btns_right {
  width: fit-content;
  flex: 1;
}

.quotation_reply_table {
  width: 100%;
}

.quotation_reply_menu {
  position: relative;
  width: 100%;
}

.quotation_reply_menu h4 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 50px 0 10px;
}

.quotation_reply_menu div {
  display: inline-block;
}

.quotation_reply_menu a {
  font-size: 15px;
  margin: 10px;
}

.search_area_menu {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 50px auto 20px;
}

.search_area_menu .search_business_box {
  display: flex;
}

.search_area_menu .search_business_indicator_box {
  border: 5px solid #272953;
  margin: 0 1%;
  width: 250px;
  height: 75px;
  position: relative;
}

.search_area_menu .search_business_indicator_box:first-child {
  margin: 0 1% 0 0;
}

.search_area_menu .search_business_indicator_box p:first-child {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 12.5px;
}

.search_area_menu .search_business_indicator_box p:last-child {
  display: block;
  position: absolute;
  font-weight: bold;
  font-size: 16.5px;
  bottom: 8px;
  right: 8px;
}

.quotation_conditions_btns .quotation_conditions_btns_right,
.order_btns .order_btns_right {
  position: relative;
  display: flex;
  width: 100%;
}

.quotation_conditions_btns .quotation_conditions_btns_right > div,
.order_btns .order_btns_right > div {
  flex: 9;
}

.quotation_conditions_table,
.order_conditions_table {
  position: relative;
  width: 100%;
}

.menu_pagination {
  position: absolute;
  bottom: 0;
}

/* 메인_대시보드 main_dashboard */
.main_container {
  position: relative;
  width: 97.5%;
  height: 800px;
  margin: 20px auto;
}

.main_container .main_tp {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  margin: 15px 0;
}
.main_container .main_md {
  width: 33%;
  height: 100%;
  position: relative;
}

.main_container .bx_indicator {
  flex: 1;
  height: 100%;
  border: 7px solid #272953;
  margin: 0 1.5%;
  padding: 20px;
  position: relative;
}

.bx_indicator h4 {
  position: absolute;
  top: 10px;
  left: 10px;

  font-size: 15px;
}

.main_container .bx_indicator p {
  position: absolute;
}

.main_container .bx_indicator p:first-of-type {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  top: 30px;
  left: 10px;
  font-weight: bold;
}

.main_container .bx_indicator p:nth-of-type(2) {
  font-size: 13.5px;
  left: 10px;
  top: 80px;
}

.main_container .bx_indicator p:last-child {
  font-size: 13.5px;
  right: 10px;
  top: 80px;
}

.main_container .main_md {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;
}

.main_container .main_lft {
  position: relative;
  flex: 3;
}

.main_container .main_lft h3,
.main_container .main_rt h3 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  margin: 1.5% 20px 10px;
}

.main_container .main_rt {
  position: relative;
  flex: 2;
}

.main_container .main_lft > div,
.main_container .main_rt > div {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 20px;
  border: 5px solid #272953;
}

.main_container .main_btm {
  width: 100%;
  height: 60%;
  position: relative;
}
.main_container .main_btm h3 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  margin: 20px 10px;
  flex: 9;
}
.main_container .main_btm .btm_title {
  display: flex;
}

.main_container .main_btm button {
  font-size: 13.5px;
  font-weight: bold;
}
.main_container .main_btm .tableWrap {
  width: 98%;
  border: 5px solid #272953;
}

.main_container .main_btm table {
  width: 98%;
  margin: 15px auto;
}

.main_container .main_btm table thead {
  font-size: 13.5px;
  background-color: #272953;
  width: 100%;
  height: 45px;
  color: #fff;
}
.main_container .main_btm table tbody {
  text-align: center;
  font-size: 13.5px;
}
.main_container .main_btm table tbody tr {
  border-top: 1px solid #ccc;
}
.main_container .main_btm table tbody tr:last-child {
  border-bottom: 1px solid #ccc;
}

.main_container .main_btm table tbody tr td {
  padding: 15px 0;
}
